JDBCProjectForStudent/bin/
hibernateProjectForStudent/bin/
JDBCProjectForStudent/.settings/org.eclipse.jdt.core.prefs
hibernateProjectForStudent/.settings/org.eclipse.jdt.core.prefs
hibernateProjectForStudent/lib/
